@import "tailwindcss";

@font-face {
    font-family: "Garde";
    src: url("./fonts/garde/Garde.woff2") format("woff2"),
        url("./fonts/garde/Garde.woff") format("woff"),
        url("./fonts/garde/Garde.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer base {
    .font-garde {
        font-family: "Garde", sans-serif;
    }

    .logo-color {
        color: #d3c7b9;
    }
}
